body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('image/qa.webp');
    background-size: cover;
    background-position: center;
}

.header, .footer {
    padding: 20px;
    background-color: #4b0202;
}

.logo {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.body {
    padding: 20px;
    text-align: center;
}

.footer {
    color: #fff;
}
